<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="slidesApp" {{{block "htmlAttributes"}}}> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" ng-app="slidesApp" {{{block "htmlAttributes"}}}> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" ng-app="slidesApp" {{{block "htmlAttributes"}}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{{block "htmlAttributes"}}}><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{#contentFor "title"}}Slides{{/contentFor}}</title>
    {{> styles}}
    {{{block "styles"}}}
    {{> scripts}}
    {{{block "headerScripts"}}}
    {{{block "head"}}}
</head>
    <body ng-cloak>
        {{{body}}}
        {{{block "scripts"}}}
    </body>
</html>
